# {{ ansible_managed }}

[auth.keystone]
enabled = true
auth_url = {{ grafana_keystone_url }}
v3 = true
default_domain = {{ grafana_keystone_default_domain }}
admin_roles = {{ grafana_keystone_admin_roles }}
editor_roles = {{ grafana_keystone_editor_roles }}
viewer_roles = {{ grafana_keystone_viewer_roles }}
verify_ssl_cert = {{ grafana_keystone_verify_ssl_cert }}
root_ca_pem_file = {{ grafana_keystone_ca_pem_file }}

[database]
type = {{ grafana_db_type }}
{% if grafana_db_type == 'mysql' %}
host = {{ grafana_mysql_host }}:{{ grafana_mysql_port }}
name = {{ grafana_mysql_db }}
user = {{ grafana_mysql_user }}
password = {{ grafana_mysql_password }}
ssl_mode = false
{% elif grafana_db_type == 'sqlite3' %}
path = {{ grafana_sqlite3_path }}
{% endif %}

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[paths]
logs = {{ grafana_log_dir }}
data = {{ grafana_data_dir }}
plugins = {{ grafana_plugins_dir }}

[server]
http_addr = {{ grafana_http_addr }}
http_port = {{ grafana_http_port }}
protocol = {{ grafana_http_protocol }}

[log]
mode = {{ grafana_log_mode }}
level = {{ grafana_log_level }}

[users]
allow_sign_up = {{ grafana_users_allow_sign_up }}
