[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/grafana
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory={{ grafana_build_dir }}/src/github.com/grafana/grafana
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/grafana
ExecStartPre=/bin/chown -R grafana:grafana /var/run/grafana
ExecStart={{ grafana_build_dir }}/src/github.com/grafana/grafana/bin/grafana-server -config=${CONF_FILE} -pidfile=${PID_FILE}
LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
